#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  gap: 1rem;
}

/* main containers */
.editor {
  width: 50%;
  float: left;
  padding: 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.resume-container {
  border: 1px solid #ccc;
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

/* personal details */
.personal-details{
  display: flex;
  flex-direction: column;
}

.personal-info {
  margin-bottom: 20px;
}
.personal-info .details{
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.personal-info .details div{
  display: flex;
  align-items: center;
  gap: 2px;
}

.resume-name {
  font-size: 2rem;
  margin: 0;
}

.resume-title {
  font-size: 1.5rem;
  margin: 5px 0;
}



/* education and experience */
.details {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}


