#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  gap: 1rem;
}

.personal-details{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
.details{
  display: flex;
  gap:1rem;
}

